.theme-default-content:not(.custom){
  max-width: 1000px;
}
.source{
  margin-bottom: 10px;
}
details{
  summary{
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    background: #f9f9f9;
    box-shadow: 0px 16px 15px -16px rgb(0 0 0 / 10%);
    color: #666;
    cursor: pointer;
    &:hover {
      background: #f9f9f9;
      color: #0e80eb;
    }
  }
}
.home .hero .actions{
  margin: 2.5rem auto;
}
.home .hero .action-button{
  border-radius: 35px;
  padding: 0.6rem 2rem;
}
.home .hero .action-button.primary{
  margin-right: 50px;
  background-color: #2BD9C2;
  border-color: #2BD9C2;
  &:hover{
    background-color: #2BD9C2;
    opacity: .7;
  }
}
.home .hero .action-button.secondary{
  color: #736f6f;
  border: 1px solid #ccc;
  background-color: #fff;
  &:hover{
    background-color: transparent;
    color: #2BD9C2;
    border-color: #2BD9C2;
  }
}
.home .hero img{
  width: 200px;
  margin: 5rem auto 1.5rem;
}