@import '../common/base.scss';

.m-input-default{
  width:100%;
  display: inline-block;
  position: relative;
  .m-input{
    width:100%;
    height:40px;
    font-size:14px;
    outline:none;
    border:0;
    margin:0;
    padding:10px;
    border:1px solid #dcdfe6f6;
    border-radius:4px;
    box-sizing: border-box;
    color:#606266;
    transition: all .2s ease;
    &:focus{
      border-color: $primary;
    }
  }
  // 禁用
  .m-input-disabled{
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    cursor: not-allowed;
  }
  // 可清空
  .m-icon-close{
    position:absolute;
    right:10px;
    top:10px;
    color:#94969b;
    transition: all .2s ease;
    cursor: pointer;
  }
}
